html {
    position: relative;
    min-height: 100%;
}

.content {
    font-family: 'Playfair', 'Display', serif;
    margin-bottom: 140px;
    margin-left: 5px;
    margin-right: 5px;
    top: 5px;




}




.navbar-img {
    width: 40px;
    height: 35px;
    float: left;
    background-size: 30px;
    margin-top: -5px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 2px grey;

}

.gallery {
    margin-top: 20px;
    margin-bottom: 20px;

}

.gallery .thumbnail {
    height: 250px;
    width: 300px;
}

.profile-img {
    width: 300px;
    height: 250px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.profile-img:hover {
    opacity: 1;
    filter: alpha(opacity=100);


}

.share_link {
    display: flex;
    justify-content: center;
    padding: 3px;
}

.share_link>div {
    margin: 2px;
}

.card-header a {
    border-radius: 1%;
    position: absolute;
    left: 48%;
    top: 48%;
    background-color: white;
    color: rgb(71, 71, 212);




}

/*.card-body small {
    border-radius: 50%;

}*/

.profile {
    position: absolute;
}

#footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1px;


}




.bg-light {
    background-color: whitesmoke;


}

.card-img {
    height: 364px;
    size: 30px;
    opacity: 0.7;
    filter: alpha(opacity=50);


}

.card-img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.delete-button {
    margin-top: 150px;
    float: right;
    margin-right: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;



}




@media screen and (min-width:320px) {

    body {
        font-size: 1.5rem;

    }
}

@media screen and (min-width:544px) {

    body {
        font-size: 1.3rem;

    }
}


@media screen and (min-width:768px) {

    body {
        font-size: 1.3rem;

    }
}

@media screen and (min-width:992px) {

    body {
        font-size: 1.2rem;

    }
}

@media screen and (min-width:1200px) {

    body {
        font-size: 1.0rem;

    }
}

@media screen and (min-width:950px) {

    body {
        font-size: 1.2rem;

    }
}



/*Footer*/

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}