<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Dancing+Script|Playfair+Display|Rokkitt|Sacramento|Yeon+Sung&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    {% if title %}
    {% block title %}{% endblock %}
    {% else %}
    <title>Xtension</title>
    {% endif %}
</head>

<body class="d-flex flex-column">
    <div>
        {% include 'navbar.html' %}
    </div>


    <div class="">{% block content %}{% endblock %}</div>


    <div id="footer1">{% include 'footer.html' %}</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/1ca6d05997.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block javascript %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function (event) {
            $('.reply-btn').click(function () {

                $(this).parent().parent().next('.replied-comments').fadeToggle()

            });
        });
        $(function () {
            setTimeout(function () {
                $('.alert').slideUp(2000)

            }, 5000);
        });



        $(document).on('click', '#like', function (event) {

            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "like_post" %}',
                data: {
                    'id': pk,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                    action: 'post',
                },
                dataType: 'json',
                success: function (response) {
                    $('#like-section').html(response['form'])
                    console.log($('#like-section').html(response['form']));

                },
                error: function (rs, e) {
                    console.log(rs.responseText);
                },
            });
        });




        $(document).ready(function () {
            $('.content input').keydown(function (e) {
                if (e.keyCode == 13) {
                    if ($(':input:eq(' + ($(':input').index(this) + 1) + ')').attr('type') ==
                        'submit') {
                        return true;
                    }
                    $(':input:eq(' + ($(':input').index(this) + 1) + ')').focus();
                    return false;

                }


            });
        });

        $(document).on('click', '#follow', function (event) {
            event.preventDefault();
            var p = $(this).attr('name');
            $.ajax({
                type: "POST",
                url: '{% url "blog:user_follow" %}',
                data: {
                    'id': p,
                    'csrfmiddlewaretoken': '{{csrf_token}}',

                    action: 'post'

                },
                dataType: 'json',
                success: function (response) {
                    $('#follow-section').html(response['form'])
                    console.log($('#follow-section').html(response['form']));
                },
                error: function (rs, e) {

                    console.log(rs.responseText);
                },
            });
        });
    </script>


</body>

</html>