{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block javascript %}
<script>
    $("#id_mobile").change(function () {
        var mobile_no = $(this).val();
        $.ajax({
            url: '{% url "validate_edit_profile" %}',
            data: {
                'mobile_number': mobile_no,
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_registerd) {
                    alert("A user with is mobile number already exists");
                }
            }

        });
    });
</script>
{% endblock%}
{% block content %}
<h1>Profile Form</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form|crispy }}
    {{ profile_form.as_p }}
    <button type="submit" class="btn btn-success">Send</button>
</form>
{% endblock %}